main {
    h1 {
        text-align: center;
        font-family: $fuente-principal;
        margin: 10px 0 20px 0;
    }
    
    h2 {
        font-family: $fuente-principal;
        margin: 10px 0 20px 0;
    }
    
    p {
        color: #222722;
        font-family: Georgia, 'Times New Roman', Times, serif;
        letter-spacing: 3px; 
        margin: 0px;
        padding: 8px;
    }

    .tetx-cont {
        color: #000000;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 4px;
    }
      
    form {
        background-color: #000000;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 0 auto;
      }
    
    .button-span {
        background-color: #000000;
        padding: 16px 24px;
        border-radius: 6px;
        transition: 0.3s;
        margin: 10px;
    }
    
    .label-cont {
        margin: 10px;
    }
    
    .map {
        filter: grayscale(100%) invert(92%) contrast(93%);
        margin: 25px 0px;
    }
}

footer {
    /*Estilo del pie de pagina del sitio*/
    background-color: #000000;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo-2 {
        width: 150px;
        border: 2px solid #F2E6DC;
        margin: 15px;
        
    }

    .links, h4 {
        font-family: 'Montserrat regular', sans-serif;
        color: #F2E6DC;
        text-transform: uppercase;
        margin-bottom: 25px;
        justify-content: center;
        align-items: center;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    
    .social {
        margin: 0 10px;
        height: 40px;
        width: 40px;
        border: 2px solid #F2E6DC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .galeria-container {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .fotos-galeria {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
    }
    
    .fotos-galeria img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    
    .fotos-galeria img:hover {
        transform: scale(1.2);
    }
}

@media (max-width: 667px)  {

    header {
        height: auto;
      }
    
    ul li {
        display: block;
      }
    
    .title {
        font-size: 1.8em;
        padding: 10px;
      }

    .socials {
        justify-content: center;
    }

    .social {
        margin: 0 10px;
        height: 40px;
        width: 40px;
        border: 2px solid #F2E6DC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .caja-mates {
        width: 275px;
        height: 300px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 3px solid #2F4858;
        margin: 15px;
        
    }

    .links h4 {
        margin-left: 50px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
}