header {
    /*Estilo de Cabecera*/
    background-color: #121128;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

body {
    /*Estilo del cuerpo del sitio*/
     background-color: $color-primario;
     font-family: $fuente-principal;

     .menu {
        background-color: $color-secundario;
    }

    .logo {
        width: 170px;
        height: 150px;
        border: 4px solid #000000;
        margin: 15px;
    }

    ul li {
        display: inline-block;
        margin: 10px;
    }
    
    a {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        color: #ffffff;
    }
    
    .a {
        text-decoration: none;
        list-style: none;
    }
    
    .a:hover {  /*Todos los elementos <a> cuando el mouse esté posicionado sobre ellos*/
        font-weight: bold;
        transform: scale(1.2); /* Escala un 20% más grande en ambas dimensiones */
        background-color: #C3FCF1;
        color: #000000;
      }
      
}