main {
    .flex-conteiner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } 
    
    .caja-mates {
        width: 285px;
        height: 300px;
        border: 3px solid #659B91;
        margin: 15px;
    }
    
    .img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
    
    p.p-cajas {
        color: #000000;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0px 0px 10px;
        letter-spacing: 3px; 
        padding: 10px;
    }
}

footer {
    /*Estilo del pie de pagina del sitio*/
    background-color: #000000;
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo-2 {
        width: 150px;
        border: 2px solid #F2E6DC;
        margin: 15px;
        
    }

    .links, h4 {
        font-family: $fuente-principal;
        color: #F2E6DC;
        text-transform: uppercase;
        margin-bottom: 25px;
        justify-content: center;
        align-items: center;
    }

    .socials {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    
    .social {
        margin: 0 10px;
        height: 40px;
        width: 40px;
        border: 2px solid #F2E6DC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .galeria-container {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .fotos-galeria {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 10px;
    }
    
    .fotos-galeria img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    
    .fotos-galeria img:hover {
        transform: scale(1.2);
    }
}

@media (max-width: 667px)  {

    header {
        height: auto;
      }
    
    ul li {
        display: block;
      }
    
    .title {
        font-size: 1.8em;
        padding: 10px;
      }

    .socials {
        justify-content: center;
    }

    .social {
        margin: 0 10px;
        height: 40px;
        width: 40px;
        border: 2px solid #F2E6DC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .caja-mates {
        width: 275px;
        height: 300px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 3px solid #2F4858;
        margin: 15px;
        
    }

    .links h4 {
        margin-left: 50px;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
}